body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main{
    padding: 2.5em 0 0;
    max-width: 1360px;
    margin:0 auto;
}

/* Cabeçalho com logo e navegação  */
.header-inner {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 200px);
    
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
     flex-wrap: nowrap;
    padding: 0.3rem 1rem;
    background-color: #ffffff;
  
}

.site-logo img {
    height: 48px;
}

/* Menu central (categorias principais)  */
.nav-center ul {
    display: flex;
    gap: 1.5rem;
}

/* Menu e ícones */
.nav-center a,
.nav-right a {
    font-size: 1.5rem;
    color: #333333;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover {
    opacity: 0.7;

}


/* products-card */
.categories-section {
    padding: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}

.category-card {
    position: relative;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.category-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casual {
    background: url(../../assets/images/products/tênis\ casual.jpg) no-repeat center;
    background-size: cover;
}

.esporte{
    background: url(../../assets/images/products/tênis\ esporte.jpg) no-repeat center;
    background-size: cover
}
.moderno{
    background: url(../../assets/images/products/tênis\ moderno.jpg) no-repeat center;
    background-size: cover
}
.futurista{
    background: url(../../assets/images/products/tênis\ futurista.jpg) no-repeat center;
    background-size:cover
}