/* Base.css */
body {
    font-family: var(--fonte-principal);
    color: #333333;
    padding-top: 6.25rem;
      background: linear-gradient(
    180deg,
    #ecd8c5 0%,
    #ebe5e0 40%,
    #aca7a791 100%
  );
}

main{
    padding: 2.5em 1.25rem 2.5rem;
    max-width: 85rem;
    margin:0 auto;
}
@media(max-width: 1280px){
    main{
        padding: 0.625rem;
    }
}

.btn{
font-size: 1.25rem;
width: 10.0625rem;
height: 3rem;
border-radius: 1.5625rem;
color: #ffffff;
font-weight: 400;
padding: 0.625rem 1.25rem;
transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.btn-outline{
    background-color: transparent;
    border: 0.125rem solid #ffffff;
    line-height: 1.4375rem;

}

.btn-filled{
    background-color: #ffffff;
    color: #6329A2;
    
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}