footer {
  background: #333333;
  padding: 2.5rem;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
}

/* CONTAINER PRINCIPAL */
.footer-container {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.125rem;
}

/* COLUNA DA ESQUERDA: email + redes sociais */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* BLOCO DE EMAIL */
.footer-newsletter p {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.footer-newsletter input {
  width: 344px;
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #AAAAAA;
}

/* REDES SOCIAIS */
.footer-social h3 {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.social-icons {
  display: flex;
  gap: 18px;
  
}

.social-icons img {
  color: #ffff;

  width: 32px;
  height: 32px;
  
  transition: opacity .3s;
}

.social-icons img:hover {
  opacity: .7;
}

/* COLUNAS DE MENU */
.footer-menu {
  display: flex;
  gap: 60px;
  list-style: none;
}

.menu-coluna h3 {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.menu-coluna ul {
  list-style: none;
  padding: 0;
}

.menu-coluna li {
  margin-bottom: 12px;
}

.menu-coluna a {
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
}

.menu-coluna a:hover {
  text-decoration: underline;
}

.footer-line {
  width: 100%;
  height: 1px;
  background: #ffff;
  margin: 40px 0 20px;
}


.footer-bottom {
  text-align: center;
}

.footer-copy {
  font-size: 1.25rem;
  padding: 10px 0;
}

.footer-author {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

@media(max-width: 1000px) {
  .footer-container{
    flex-direction: column;
   gap: 2rem;
    padding: 2rem 1rem;
  }

  .footer-nav ul{
    flex-direction: column;
    gap: 2rem;
  }

  .footer-newsletter{
    
    flex-direction: column;
    align-items: center;
  }

  .footer-social ul{
    gap: 1rem;
  }

  .footer-copy{
    font-size: 1rem;
    padding: 1.5rem 0 1.5rem;
  }
}

.copy-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.copy-link:hover {
  transform: scale(1.1
  );
}
